@import url('https://rsms.me/inter/inter.css');
$black: rgba(19, 19, 19, 1);
$black-1: rgba(0, 0, 0, 1);
$black-2: rgba(20, 20, 20, 1);
$black-3: rgba(21, 32, 43, 1);
$dark-slate-gray: rgba(43, 66, 88, 1);
$gray: rgba(144, 144, 144, 1);
$gray-2: rgba(135, 135, 135, 1);
$gray-3: rgba(129, 132, 137, 1);
$lavender: rgba(231, 234, 238, 1);
$light-steel-blue: rgba(188, 178, 255, 1);
$orange: rgba(255, 182, 29, 1);
$primary-1: rgba(45, 108, 223, 1);
$transparent-black: rgba(19, 19, 19, 0.15);
$white: rgba(255, 255, 255, 1);
$white-2: rgba(254, 254, 254, 1);

// Typographies
@mixin inter-12-medium {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

@mixin inter-13-medium {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

@mixin inter-14-medium {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

@mixin inter-14-regular {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@mixin inter-14-semi-bold {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

@mixin inter-16-regular {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin inter-18-medium {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

@mixin inter-18-regular {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

* {
  margin: 0;
  padding: 0;
}

.focus-container {
  background-color: $black-2;
  padding: 87px 83px 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-main {
  height: calc(66.49% - 102px);
  background-color: $black-1;
  overflow: hidden;
  border-radius: 16px;
  padding: 51px 42px;
  box-shadow: 0 4px 12px 0 $transparent-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-heading {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.card-icon {
  margin-right: 7px;
  padding: 1.54px 1px 1.53px;
  display: flex;
  align-items: center;
}

.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}

.heading {
  color: $light-steel-blue;
  letter-spacing: -0.27px;
  @include inter-18-medium;
}

.card-subtitle {
  height: 60px;
  width: 348px;
  color: $gray;
  display: flex;
  text-align: center;
  letter-spacing: -0.21px;
  @include inter-14-regular;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-support {
  background-color: $primary-1;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 8px;
  padding: 14px 87px;
  display: flex;
  align-items: center;
}

.support-this-project {
  color: $white-2;
  letter-spacing: -0.21px;
  @include inter-14-semi-bold;
}

.button-show-feed {
  overflow: hidden;
  border-radius: 8px;
  padding: 13px 116px;
  display: flex;
  align-items: center;
  border: 1px solid $white;
}

.show-feed {
  color: $white;
  letter-spacing: -0.21px;
  @include inter-14-semi-bold;
}

.keyboard-shortcut {
  margin-top: 24px;
  margin-bottom: -10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  color: $gray;
  letter-spacing: -0.18px;
  @include inter-12-medium;
}

.quote-container {
  margin-bottom: 80px;
  margin-top: 36px;
  width:432px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  color: $gray-2;
  display: flex;
  text-align: center;
  margin-bottom: 14px;
  letter-spacing: -0.21px;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  @include inter-14-regular;
}

.quoter {
  color: $white;
  letter-spacing: -0.21px;
  @include inter-14-medium;
}

.card-text-links {
  margin-left: 68.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  color: $gray-2;
  text-align: center;
  text-decoration: underline;
  letter-spacing: -0.18px;
  @include inter-12-medium;

  &:not(:last-of-type) {
    margin-right: 48px;
  }
}

.about-grey {
  margin-right: 40px
}

a {
  color: inherit;
  text-decoration: none;
}