@import './inter.scss';
@import './global.scss';

html {
  background-color: $black-4;
}

.focus-container {
  background-color: $black-4;
}

.quote {
  color: $light-steel-blue;
}
.quoter {
  color: $light-steel-blue;
}
.card-main {
  background-color: $dark-slate-gray-4;
  padding: 48px 42px;
  box-shadow: 0 8px 24px -4px $transparent-black-2;
}

.heading-text {
  color: $light-steel-blue;
}
.card-subtitle {
  color: $light-steel-blue;
}

.button-support {
  background-color: $light-steel-blue;
}
.support-text {
  color: $black-3;
}
.button-show-feed {
  border: 1px solid $light-steel-blue;
}
.show-feed {
  color: $light-steel-blue;
}
.shortcut-caption {
  color: $light-steel-blue;
}
.shortcut-caption-emphasis-1 {
  color: $light-steel-blue;
}
.shortcut-caption-emphasis-2 {
  color: $light-steel-blue;
}
