@import './inter.scss';
@import './global.scss';

.popup-container {
  background-color: $white;
  overflow: hidden;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 369px;
}

.title-container {
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.title {
  color: $black-1;
  letter-spacing: -0.16px;
  @include inter-14-semi-bold;
}

.illustration-yoga {
  padding: 24px;
}

.shortcut-container {
  text-align: center;
  color: $black-1;
  @include inter-14-medium-line14;
  margin: 24px 2px;
}

.shortcut-caption-emphasis-1 {
  margin: 0 2px;
  color: $primary-1;
  letter-spacing: 1px;
  @include inter-14-bold;
}

.seperator {
  width: 100%;
  height: 1.5px;
  border-radius: 2px;
  background: #aaaaaa;
  margin-bottom: 16px;
}

.icon-info {
  margin-right: 48px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}

.icon-feedback {
  margin-right: 48px;
  padding: 2px 4px 2px 3px;
  display: flex;
  align-items: center;
}

.icon-logo {
  display: flex;
  align-items: flex-start;
}
