@import './inter.scss';
@import './global.scss';

.focus-container {
  width: 470px;
  background-color: $white;
  border-radius: 16px;
  padding: 40px 52px;
  margin: 52px auto;
}

.quote-container {
  margin-bottom: 34px;
}

.quote {
  color: $gray;
}

.quoter {
  color: $black;
}

.card-main {
  height: calc(63.44% - 80px);
  background-color: $white;
  padding: 40px 48px;
  box-shadow: 0 4px 12px 0 $transparent-midnight-blue;
}

.heading-text {
  color: $primary-1;
}

.card-subtitle {
  color: $gray;
}

.button-support {
  background-color: $primary-1;
}

.support-text {
  color: $white-2;
}

.button-show-feed {
  border: 1px solid $primary-1;
}

.show-feed {
  color: $primary-1;
}

.shortcut-caption {
  color: $gray;
}

.shortcut-caption-emphasis-1 {
  color: $gray;
}

.shortcut-caption-emphasis-2 {
  color: $gray;
}
