@import './inter.scss';
@import './global.scss';

.focus-container {
  width: 470px;
  background-color: $black-3;
  border-radius: 16px;
  padding: 40px 52px;
  margin: 52px auto;
}

.quote-container {
  margin-bottom: 34px;
}

.quote {
  color: $light-steel-blue;
}

.quoter {
  color: $light-steel-blue;
}

.card-main {
  height: calc(63.44% - 80px);
  background-color: $dark-slate-gray-2;
  padding: 40px 48px;
  box-shadow: 0 4px 12px 0 $transparent-black-2;
}

.card-icon {
  margin-right: 7px;
  padding: 1.54px 1px 1.53px;
  display: flex;
  align-items: center;
}

.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}

.heading {
  color: $light-steel-blue;
  letter-spacing: -0.27px;
  @include inter-18-medium;
}

.card-subtitle {
  height: 60px;
  width: 348px;
  color: $light-steel-blue;
  display: flex;
  text-align: center;
  letter-spacing: -0.21px;
  @include inter-14-regular;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-support {
  background-color: $light-steel-blue;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 8px;
  padding: 14px 87px 13px;
  display: flex;
  align-items: center;
  height: 21px;
  width: 132px;
}

.support-this-project {
  color: $black-3;
  letter-spacing: -0.21px;
  @include inter-14-semi-bold;
}

.button-show-feed {
  overflow: hidden;
  border-radius: 8px;
  padding: 13px 117px 12px;
  display: flex;
  align-items: center;
  height: 21px;
  width: 70px;
  border: 1px solid $light-steel-blue;
}

.show-feed {
  color: $light-steel-blue;
  letter-spacing: -0.21px;
  @include inter-14-semi-bold;
}

.shortcut-container {
  margin: 8px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shortcut-caption {
  color: $light-steel-blue;
  @include inter-14-semi-bold-line14;
}

.shortcut-caption-emphasis-1 {
  margin: 0 2px;
  color: $light-steel-blue;
  letter-spacing: 1px;
  @include inter-14-bold-line14;
}

.shortcut-caption-emphasis-2 {
  color: $light-steel-blue;
  letter-spacing: -0.21px;
  @include inter-14-medium-line14;
}

.icon-info {
  margin-right: 48px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}

.icon-feedback {
  margin-right: 48px;
  padding: 2px 4px 2px 3px;
  display: flex;
  align-items: center;
}

.icon-logo {
  display: flex;
  align-items: flex-start;
}

a {
  color: inherit;
  text-decoration: none;
}
